2-Extended/Node-RED/final.json
[
    {
        "id": "39809217.72675e",
        "type": "slackbot-listen",
        "z": "f0a05646.d0c078",
        "slackbot": "34d196fe.63eb4a",
        "name": "",
        "x": 350,
        "y": 960,
        "wires": [
            [
                "12817bc8.437544"
            ]
        ]
    },
    {
        "id": "2f91c065.ea4ce",
        "type": "slackbot-reply",
        "z": "f0a05646.d0c078",
        "slackbot": "34d196fe.63eb4a",
        "name": "",
        "x": 1319.3332214355469,
        "y": 958.9047532081604,
        "wires": []
    },
    {
        "id": "12817bc8.437544",
        "type": "watson-conversation-v1",
        "z": "f0a05646.d0c078",
        "name": "",
        "workspaceid": "114c4bbd-8167-4e05-b19f-01c698158a20",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 534.8809547424316,
        "y": 928.5238261222839,
        "wires": [
            [
                "849cd729.106628"
            ]
        ]
    },
    {
        "id": "cec255ce.818988",
        "type": "function",
        "z": "f0a05646.d0c078",
        "name": "Postprocessing",
        "func": "// Reset context variables when New Contract conversation complete\nif (msg.payload.context.contractstatus == 'found') {\n    msg.payload.context.costpermonth = null;\n    msg.payload.context.datapermonth = null;\n    msg.payload.context.startdate = null;\n    msg.payload.context.contractstatus = null;\n}\nvar output = msg.payload.output.text;\nfor (var t in output) {\n    msg.payload = output[t];\n    node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 879.1666450500488,
        "y": 931.3809533119202,
        "wires": [
            [
                "2f91c065.ea4ce"
            ]
        ]
    },
    {
        "id": "849cd729.106628",
        "type": "switch",
        "z": "f0a05646.d0c078",
        "name": "",
        "property": "payload.context.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "review",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 693.8094692230225,
        "y": 890.2381014823914,
        "wires": [
            [
                "1aef712f.b8d40f"
            ],
            [
                "cec255ce.818988"
            ]
        ]
    },
    {
        "id": "1aef712f.b8d40f",
        "type": "change",
        "z": "f0a05646.d0c078",
        "name": "Update Payload",
        "rules": [
            {
                "t": "set",
                "p": "brand",
                "pt": "msg",
                "to": "payload.context.brandreview",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.input.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 872.3809394836426,
        "y": 853.0952496528625,
        "wires": [
            [
                "bb526140.7ea6b"
            ]
        ]
    },
    {
        "id": "bb526140.7ea6b",
        "type": "natural-language-understanding",
        "z": "f0a05646.d0c078",
        "name": "NLU",
        "categories": false,
        "concepts": false,
        "maxconcepts": "8",
        "doc-emotion": false,
        "doc-emotion-target": "",
        "doc-sentiment": true,
        "doc-sentiment-target": "",
        "entity": true,
        "entity-emotion": false,
        "entity-sentiment": false,
        "maxentities": "50",
        "keyword": false,
        "keyword-emotion": false,
        "keyword-sentiment": false,
        "maxkeywords": "50",
        "metadata": false,
        "relation": false,
        "semantic": false,
        "semantic-entities": false,
        "semantic-keywords": false,
        "maxsemantics": "50",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/natural-language-understanding/api",
        "x": 1057.6190147399902,
        "y": 817.3809776306152,
        "wires": [
            [
                "880c080c.8e6738",
                "9259878a.2952b8"
            ]
        ]
    },
    {
        "id": "880c080c.8e6738",
        "type": "function",
        "z": "f0a05646.d0c078",
        "name": "Build Review Message",
        "func": "// Retrieve NLU score for review\nvar score = msg.features.sentiment.document.score;\n \n// Build part one of response containing sentiment score\nif (score >= 0) {\n    var sentiment = \"positive\";\n}\nelse {\n    var sentiment = \"negative\";\n}\nabsScore = Math.abs(score);\nvar outputA = \"Watson calculates your \" + msg.brand + \" review to be \" + Math.round(absScore * 100) + \"% \"+ sentiment + \". \";\n \n// Build part two of response\nswitch (true) {\n  case score > 0.7:\n    var outputB = \"A big fan then, I see!\";\n    break;\n  case score > 0.2:\n    var outputB = \"I guess you think \" + msg.brand + \" phones are mostly OK.\";\n    break;\n  case score > -0.2:\n    var outputB = \"You sound pretty ambivalent about \" + msg.brand + \" products.\";\n    break;\n  case score > -0.7:\n    var outputB = \"OK so you definitely don't like \" + msg.brand + \" phones. Time for a change!\";\n    break;\n  default:\n    var outputB = \"Clearly not a fan, at all.\";\n}\n \n// Send consolidated message to Slack\nmsg.payload = outputA + outputB;\nnode.send(msg);\n \nreturn ;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1265.9523239135742,
        "y": 860.9523935317993,
        "wires": [
            [
                "2f91c065.ea4ce"
            ]
        ]
    },
    {
        "id": "9259878a.2952b8",
        "type": "function",
        "z": "f0a05646.d0c078",
        "name": "Clear Conversation Context",
        "func": "msg.payload = \"hi\";\nmsg.params = {\n    context : {}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1287.6190567016602,
        "y": 778.571445941925,
        "wires": [
            [
                "1fbd9e57.4aac32"
            ]
        ]
    },
    {
        "id": "1fbd9e57.4aac32",
        "type": "delay",
        "z": "f0a05646.d0c078",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1261.4284591674805,
        "y": 675.238115310669,
        "wires": [
            [
                "12817bc8.437544"
            ]
        ]
    },
    {
        "id": "34d196fe.63eb4a",
        "type": "slackbot-controller",
        "z": "",
        "name": "stsa2018-gw",
        "bot_token": ""
    }
]
