3-Discovery/Node-RED/basic-flow-telegram.json
[
    {
        "id": "ce1d3957.60de48",
        "type": "watson-conversation-v1",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "workspaceid": "a86d5288-2509-48c9-8c5f-fe4343c018dc",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "timeout": "",
        "optout-learning": false,
        "x": 769.6585083007812,
        "y": 726.6840209960938,
        "wires": [
            [
                "3691c815.72e3b8"
            ]
        ]
    },
    {
        "id": "b9ef323a.c1711",
        "type": "telegram command",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "command": "",
        "bot": "ff0866a9.38a078",
        "x": 331.6356658935547,
        "y": 721.255443572998,
        "wires": [
            [],
            [
                "33a93436.545a7c"
            ]
        ]
    },
    {
        "id": "e6de0606.ecd428",
        "type": "telegram sender",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "bot": "ff0866a9.38a078",
        "x": 1253.9690246582031,
        "y": 719.2554936408997,
        "wires": [
            []
        ]
    },
    {
        "id": "3691c815.72e3b8",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Send Assistant Response",
        "func": "var output = msg.payload.output.text;\nfor (var t in output) {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : output[t]\n    };\n    node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 982.968994140625,
        "y": 667.2554454803466,
        "wires": [
            [
                "e6de0606.ecd428"
            ]
        ]
    },
    {
        "id": "33a93436.545a7c",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Prepare for Assistant",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 569.6585083007812,
        "y": 666.6840209960938,
        "wires": [
            [
                "ce1d3957.60de48"
            ]
        ]
    },
    {
        "id": "ff0866a9.38a078",
        "type": "telegram bot",
        "z": "",
        "botname": "PhoneAdviceBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "pollinterval": "300"
    }
]
