3-Discovery/Node-RED/flow-2.json
[
    {
        "id": "b77e7ae6.9d3a48",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Send Reset to Assistant",
        "func": "msg.payload = \"gotohelp\";\nmsg.params = {\n    context : {}\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1439.9999313354492,
        "y": 809.6470365524292,
        "wires": [
            [
                "a44c1c.0b6423e8"
            ]
        ]
    },
    {
        "id": "a44c1c.0b6423e8",
        "type": "delay",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1660.6668968200684,
        "y": 808.9802875518799,
        "wires": [
            [
                "c61b11b7.ad3a7"
            ]
        ]
    },
    {
        "id": "e08df8d7.c79d68",
        "type": "telegram command",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "command": "",
        "bot": "ff0866a9.38a078",
        "x": 151.66667556762695,
        "y": 597.3309936523438,
        "wires": [
            [],
            [
                "81a92d45.d4151"
            ]
        ]
    },
    {
        "id": "81a92d45.d4151",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Prepare for Assistant",
        "func": "// Save user input for Discovery if needed\nflow.set('userInput',msg.payload.content);\n\n// Pass to Watson Assistant\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 368.3624267578125,
        "y": 467.3484306335449,
        "wires": [
            [
                "c61b11b7.ad3a7"
            ]
        ]
    },
    {
        "id": "c61b11b7.ad3a7",
        "type": "watson-conversation-v1",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "workspaceid": "a86d5288-2509-48c9-8c5f-fe4343c018dc",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "timeout": "",
        "optout-learning": false,
        "x": 565.0290412902832,
        "y": 515.6817712783813,
        "wires": [
            [
                "12a550a6.b191af",
                "17828a01.ecf666"
            ]
        ]
    },
    {
        "id": "8cbf9e5a.9c2c8",
        "type": "switch",
        "z": "cd0c0dbb.8e22d",
        "name": "Test Intent Confidence Level",
        "property": "payload.intents[0].confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0.8",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840.8566932678223,
        "y": 566.827675819397,
        "wires": [
            [
                "1e1d111c.adea0f"
            ],
            [
                "e38afe8d.dc8b8"
            ]
        ]
    },
    {
        "id": "1e1d111c.adea0f",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Send Assistant Response",
        "func": "var output = msg.payload.output.text;\nfor (var t in output) {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : output[t]\n    };\n    node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 1118.3625526428223,
        "y": 470.68166971206665,
        "wires": [
            [
                "b8bee73b.8d5428"
            ]
        ]
    },
    {
        "id": "b8bee73b.8d5428",
        "type": "telegram sender",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "bot": "ff0866a9.38a078",
        "x": 1658.7329368591309,
        "y": 600.6817479133606,
        "wires": [
            []
        ]
    },
    {
        "id": "e38afe8d.dc8b8",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Prepare for Discovery",
        "func": "// Get user input to pass to Discovery\nmsg.discoveryparams = {};\nmsg.discoveryparams.query = flow.get('userInput');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1102.992015838623,
        "y": 747.3483276367188,
        "wires": [
            [
                "e61ccc81.b8edb"
            ]
        ]
    },
    {
        "id": "e61ccc81.b8edb",
        "type": "watson-discovery-v1",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "environmentname": "",
        "environment_id": "a55d2ba7-40cc-4220-a099-2ec78e47ffbc",
        "collection_id": "209f6a85-c21c-4ba7-b4f0-f5e1a840593e",
        "configurationname": "",
        "configuration_id": "",
        "language_code": "en",
        "collection_name": "",
        "count": "1",
        "passages": false,
        "nlp_query": true,
        "query": "",
        "filter": "enriched_Accepted_Answer.sentiment.document.label:!\"negative\"",
        "aggregation": "",
        "return": "",
        "description": "",
        "size": 0,
        "discovery-method": "query",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/discovery/api",
        "x": 1269.6586799621582,
        "y": 680.6817426681519,
        "wires": [
            [
                "c8f9ce70.3e68",
                "b77e7ae6.9d3a48"
            ]
        ]
    },
    {
        "id": "c8f9ce70.3e68",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Send Discovery Response",
        "func": "var results = msg.search_results.matching_results;\nif (results > 0) {\n    var question = msg.search_results.results[0].Title;\n    var answer = msg.search_results.results[0].Accepted_Answer;\n     \n    msg.payload = {\n            chatId : msg.chatId,\n            type : \"message\",\n            content : \"I found this question that is similar to yours: \" + question\n        };\n    node.send(msg);\n     \n    // Use setTimeout function to ensure small delay in sending\n    // 2nd message to ensure answer arrives after question.\n     \n    setTimeout(function (){\n        msg.payload = {\n                chatId : msg.chatId,\n                type : \"message\",\n                content : \"And this is the answer: \" + answer\n            };\n        node.send(msg);\n    }, 500);\n} else {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : \"Sorry, I couldn't find anything to help. Maybe you could try rephrasing your question?\"\n    };\n    node.send(msg);\n    return;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1481.3254585266113,
        "y": 742.3483686447144,
        "wires": [
            [
                "b8bee73b.8d5428"
            ]
        ]
    },
    {
        "id": "12a550a6.b191af",
        "type": "switch",
        "z": "cd0c0dbb.8e22d",
        "name": "Test for Found Intent",
        "property": "payload.output.nodes_visited[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Anything else",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 674.6586875915527,
        "y": 644.0150289535522,
        "wires": [
            [
                "8cbf9e5a.9c2c8"
            ],
            [
                "e38afe8d.dc8b8"
            ]
        ]
    },
    {
        "id": "17828a01.ecf666",
        "type": "debug",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 790.4918797810872,
        "y": 734.2766443888345,
        "wires": []
    },
    {
        "id": "ff0866a9.38a078",
        "type": "telegram bot",
        "z": "",
        "botname": "PhoneAdviceBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "pollinterval": "300"
    }
]
