3-Discovery/Node-RED/flow-1.json
[
    {
        "id": "ce1d3957.60de48",
        "type": "watson-conversation-v1",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "workspaceid": "a86d5288-2509-48c9-8c5f-fe4343c018dc",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "timeout": "",
        "optout-learning": false,
        "x": 756.3252487182617,
        "y": 191.68409633636475,
        "wires": [
            [
                "3691c815.72e3b8"
            ]
        ]
    },
    {
        "id": "b9ef323a.c1711",
        "type": "telegram command",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "command": "",
        "bot": "ff0866a9.38a078",
        "x": 308.3023910522461,
        "y": 214.5888547897339,
        "wires": [
            [],
            [
                "1a699343.880ebd"
            ]
        ]
    },
    {
        "id": "e6de0606.ecd428",
        "type": "telegram sender",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "bot": "ff0866a9.38a078",
        "x": 1245.6357498168945,
        "y": 210.92223167419434,
        "wires": [
            []
        ]
    },
    {
        "id": "3691c815.72e3b8",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Send Assistant Response",
        "func": "var output = msg.payload.output.text;\nfor (var t in output) {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : output[t]\n    };\n    node.send(msg);\n}\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 969.6357345581055,
        "y": 132.25552082061756,
        "wires": [
            [
                "e6de0606.ecd428"
            ]
        ]
    },
    {
        "id": "33a93436.545a7c",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Prepare for Assistant",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 556.3252487182617,
        "y": 131.68409633636475,
        "wires": [
            [
                "ce1d3957.60de48"
            ]
        ]
    },
    {
        "id": "1a699343.880ebd",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Prepare for Discovery",
        "func": "msg.chatId = msg.payload.chatId;\nmsg.discoveryparams = {};\nmsg.discoveryparams.query = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 558.8426971435547,
        "y": 321.50465202331543,
        "wires": [
            [
                "7ea4125b.0b6fdc"
            ]
        ]
    },
    {
        "id": "7ea4125b.0b6fdc",
        "type": "watson-discovery-v1",
        "z": "cd0c0dbb.8e22d",
        "name": "",
        "environmentname": "",
        "environment_id": "a55d2ba7-40cc-4220-a099-2ec78e47ffbc",
        "collection_id": "209f6a85-c21c-4ba7-b4f0-f5e1a840593e",
        "configurationname": "",
        "configuration_id": "",
        "language_code": "en",
        "collection_name": "",
        "count": "1",
        "passages": false,
        "nlp_query": true,
        "query": "",
        "filter": "enriched_Accepted_Answer.sentiment.document.label:!\"negative\"",
        "aggregation": "",
        "return": "",
        "description": "",
        "size": 0,
        "discovery-method": "query",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/discovery/api",
        "x": 754.6585845947266,
        "y": 268.35069465637207,
        "wires": [
            [
                "8cb674cf.aee2a8"
            ]
        ]
    },
    {
        "id": "8cb674cf.aee2a8",
        "type": "function",
        "z": "cd0c0dbb.8e22d",
        "name": "Send Discovery Response",
        "func": "var results = msg.search_results.matching_results;\nif (results > 0) {\n    var question = msg.search_results.results[0].Title;\n    var answer = msg.search_results.results[0].Accepted_Answer;\n     \n    msg.payload = {\n            chatId : msg.chatId,\n            type : \"message\",\n            content : \"I found this question that is similar to yours: \" + question\n        };\n    node.send(msg);\n     \n    // Use setTimeout function to ensure small delay in sending\n    // 2nd message to ensure answer arrives after question.\n     \n    setTimeout(function (){\n        msg.payload = {\n                chatId : msg.chatId,\n                type : \"message\",\n                content : \"And this is the answer: \" + answer\n            };\n        node.send(msg);\n    }, 500);\n} else {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : \"Sorry, I couldn't find anything to help. Maybe you could try rephrasing your question?\"\n    };\n    node.send(msg);\n    return;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 987.9918975830078,
        "y": 313.35069465637207,
        "wires": [
            [
                "e6de0606.ecd428"
            ]
        ]
    },
    {
        "id": "ff0866a9.38a078",
        "type": "telegram bot",
        "z": "",
        "botname": "PhoneAdviceBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "pollinterval": "300"
    }
]
