4-Visual/Node-RED/inspection1.json
[
   {
      "id":"b8c592a4.a1d198",
      "type":"ui_gauge",
      "z":"6239d5d8.264664",
      "name":"",
      "group":"adfb072a.491ad",
      "order":2,
      "width":"6",
      "height":"4",
      "gtype":"gage",
      "title":"",
      "label":"percent",
      "format":"{{value}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":813.3333206176758,
      "y":688.3333377838135,
      "wires":[

      ]
   },
   {
      "id":"e64abd18.883188",
      "type":"ui_button",
      "z":"6239d5d8.264664",
      "name":"Bad Crack",
      "group":"547b6132.28351",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Single Crack",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"1",
      "payloadType":"str",
      "topic":"",
      "x":113.33332061767578,
      "y":108.33333778381348,
      "wires":[
         [
            "d68fb019.465c"
         ]
      ]
   },
   {
      "id":"546816fc.3c29a",
      "type":"function",
      "z":"6239d5d8.264664",
      "name":"VR Inputs",
      "func":"global.set(\"imgData\",msg.payload); \nglobal.set(\"fileName\",msg.filename);\nmsg.headers = { \"Content - Type \":\"image / jpeg \"};\nmsg.params = {classifier_ids:[\"CrackDetection_237362588\"],\n  owners:[\"me\",\"IBM\"],\n  threshold: 0.0\n};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":203.33332061767578,
      "y":688.3333377838135,
      "wires":[
         [
            "f03a5485.9c1dc"
         ]
      ]
   },
   {
      "id":"f03a5485.9c1dc",
      "type":"visual-recognition-v3",
      "z":"6239d5d8.264664",
      "name":"Classify image",
      "apikey":"22b037c8667afabd132c168317f8193da313d513",
      "image-feature":"classifyImage",
      "lang":"en",
      "x":366.9405746459961,
      "y":687.7380437850952,
      "wires":[
         [
            "3ac8abcf.879cac"
         ]
      ]
   },
   {
      "id":"edf20fa4.50d5d8",
      "type":"ui_template",
      "z":"6239d5d8.264664",
      "group":"e9706c66.4baab8",
      "name":"Analyzed Image",
      "order":1,
      "width":"6",
      "height":"4",
      "format":"<img width=\"32\" height=\"32\" alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>",
      "storeOutMessages":false,
      "fwdInMessages":false,
      "templateScope":"local",
      "x":851.5737457275391,
      "y":187.06349277496338,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"9b6df51d.ed363",
      "type":"base64",
      "z":"6239d5d8.264664",
      "name":"",
      "x":685.9269905090332,
      "y":183.9087085723877,
      "wires":[
         [
            "edf20fa4.50d5d8"
         ]
      ]
   },
   {
      "id":"a4cd51d6.d03d28",
      "type":"ui_button",
      "z":"6239d5d8.264664",
      "name":"Multiple Cracks Image",
      "group":"547b6132.28351",
      "order":2,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Multiple Cracks",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":136.54998016357422,
      "y":150.1666603088379,
      "wires":[
         [
            "987cefe6.8955f8"
         ]
      ]
   },
   {
      "id":"c667d364.fb148",
      "type":"ui_button",
      "z":"6239d5d8.264664",
      "name":"No Crack Image",
      "group":"547b6132.28351",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"No Cracks",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":122.38330078125,
      "y":193.99998664855957,
      "wires":[
         [
            "4cbb5819.8e2a38"
         ]
      ]
   },
   {
      "id":"3ac8abcf.879cac",
      "type":"function",
      "z":"6239d5d8.264664",
      "name":"Retrieve VR Score for gauge",
      "func":"var score = 0;\nif(msg.result.images[0].classifiers[0]){\n  var classes = msg.result.images[0].classifiers[0].classes; \n  score=classes[0].score;\n}\nmsg.payload = Math.round(score * 100);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":590.3667144775391,
      "y":687.6519117355347,
      "wires":[
         [
            "b8c592a4.a1d198"
         ]
      ]
   },
   {
      "id":"6314482a.ca1058",
      "type":"ui_button",
      "z":"6239d5d8.264664",
      "name":"Slight Crack Image",
      "group":"547b6132.28351",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Slight Cracks",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":129.16665649414062,
      "y":241.93753385543823,
      "wires":[
         [
            "caa1f82a.0ba038"
         ]
      ]
   },
   {
      "id":"b9bcaef4.486bb8",
      "type":"ui_button",
      "z":"6239d5d8.264664",
      "name":"Could Be Cracks Image",
      "group":"547b6132.28351",
      "order":5,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Could Be Cracks?",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":138.33332061767578,
      "y":289.4375333786011,
      "wires":[
         [
            "71a33235.2512e4"
         ]
      ]
   },
   {
      "id":"293346f6.a5e97a",
      "type":"comment",
      "z":"6239d5d8.264664",
      "name":"The blue buttons refer to buttons on the dashboard. Read images from file and display in the 'Analyzed Image' Template ",
      "info":"",
      "x":428.3333206176758,
      "y":50.00000762939453,
      "wires":[

      ]
   },
   {
      "id":"e8ff1e35.448518",
      "type":"comment",
      "z":"6239d5d8.264664",
      "name":"Set up for Visual Recognition Retrieve a Score from the classification and Display in a Gauge control",
      "info":"",
      "x":419.6562805175781,
      "y":733.6508159637451,
      "wires":[

      ]
   },
   {
      "id":"d68fb019.465c",
      "type":"os-get",
      "z":"6239d5d8.264664",
      "name":"Get Image From Objectstore",
      "container":"Crack Detection",
      "objectname":"badcrack.jpg",
      "filepath":"",
      "filename":"",
      "mode":"1",
      "osconfig":"b05649e2.5c91",
      "x":400.3333206176758,
      "y":99.33333778381348,
      "wires":[
         [
            "9b6df51d.ed363",
            "546816fc.3c29a"
         ]
      ]
   },
   {
      "id":"987cefe6.8955f8",
      "type":"os-get",
      "z":"6239d5d8.264664",
      "name":"Get Image From Objectstore",
      "container":"Crack Detection",
      "objectname":"multiplecracks.jpg",
      "filepath":"",
      "filename":"",
      "mode":"1",
      "osconfig":"b05649e2.5c91",
      "x":401.3333206176758,
      "y":149.33333778381348,
      "wires":[
         [
            "9b6df51d.ed363",
            "546816fc.3c29a"
         ]
      ]
   },
   {
      "id":"4cbb5819.8e2a38",
      "type":"os-get",
      "z":"6239d5d8.264664",
      "name":"Get Image From Objectstore",
      "container":"Crack Detection",
      "objectname":"nocrack.jpg",
      "filepath":"",
      "filename":"",
      "mode":"1",
      "osconfig":"b05649e2.5c91",
      "x":393.3333206176758,
      "y":203.33333778381348,
      "wires":[
         [
            "9b6df51d.ed363",
            "546816fc.3c29a"
         ]
      ]
   },
   {
      "id":"caa1f82a.0ba038",
      "type":"os-get",
      "z":"6239d5d8.264664",
      "name":"Get Image From Objectstore",
      "container":"Crack Detection",
      "objectname":"slightcrack.jpg",
      "filepath":"",
      "filename":"",
      "mode":"1",
      "osconfig":"b05649e2.5c91",
      "x":399.3333206176758,
      "y":251.33333778381348,
      "wires":[
         [
            "9b6df51d.ed363",
            "546816fc.3c29a"
         ]
      ]
   },
   {
      "id":"71a33235.2512e4",
      "type":"os-get",
      "z":"6239d5d8.264664",
      "name":"Get Image From Objectstore",
      "container":"Crack Detection",
      "objectname":"couldbecrack.jpg",
      "filepath":"",
      "filename":"",
      "mode":"1",
      "osconfig":"b05649e2.5c91",
      "x":394.3333206176758,
      "y":306.3333377838135,
      "wires":[
         [
            "9b6df51d.ed363",
            "546816fc.3c29a"
         ]
      ]
   },
   {
      "id":"adfb072a.491ad",
      "type":"ui_group",
      "z":"",
      "name":"VR Score",
      "tab":"215fd139.dc11f6",
      "order":3,
      "disp":true,
      "width":"6"
   },
   {
      "id":"547b6132.28351",
      "type":"ui_group",
      "z":"",
      "name":"Analyze Images",
      "tab":"215fd139.dc11f6",
      "order":1,
      "disp":true,
      "width":"6"
   },
   {
      "id":"e9706c66.4baab8",
      "type":"ui_group",
      "z":"6239d5d8.264664",
      "name":"Image to VR Service for Analysis",
      "tab":"215fd139.dc11f6",
      "order":2,
      "disp":true,
      "width":"6"
   },
   {
      "id":"b05649e2.5c91",
      "type":"os-config",
      "z":"",
      "cfgtype":"api",
      "region":"london",
      "projectId":"c24ae615aa0c4891af24594d8d6d5747",
      "userId":"cf36fe9e120b4177b6b8a9dae145c019",
      "userName":"admin_9d57cca798258ec37d4f569b12736949ef098d0d",
      "password":"vW~7wcK4Lm~.LBau",
      "name":"LonObjStorage"
   },
   {
      "id":"215fd139.dc11f6",
      "type":"ui_tab",
      "z":"6239d5d8.264664",
      "name":"Crack Detection Demo",
      "icon":"dashboard",
      "order":1
   }
]
